.footer{
    margin-top: 5rem;
    &__container{
        // display: flex;
        // justify-content: space-between;
        @include flex(flex-start,space-between)
    }

    &__item{
        width: 25%;
    }

    &__link{
        font-size: 1.4rem;
        display: block;
        margin-bottom: 3rem;
        font-weight: 600;
        width: fit-content;
    }
}